


body {


}



header {
    background-color: #1F2937;
   
    
    
}

.header {
color: #F9FAF8 ;
font-size: 24px;
display: flex;

}



header,a {
    color: #E5E7EB;

}

a{
    text-decoration: none;
    
}

ul {
    list-style: none;
    display: flex;
    
    
}

.headerlink {
    display: flex;
    margin-left: auto;
    
    

}